
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

nav {
    z-index: 50;
}

body.menu-open {
    overflow: hidden;
}